<div id="navbar">
    {% if include.active == "Home" %}
        <a class="active" href="/" title="Home">Home</a>
    {% else %}
        <a href="/" title="Home">Home</a>
    {% endif %}
    {% if include.active == "Publications" %}
        <a class="active" href="/Publications" title="Publications">Publications</a>
    {% else %}
        <a href="/Publications" title="Publications">Publications</a>
    {% endif %}
    <a href="/teaching" title="Teaching">Teaching</a>
    {% if include.active == "About" %}
        <a class="active" href="/about" title="About Me">About</a>
    {% else %}
        <a href="/about" title="About Me">About</a>
    {% endif %}
</div>
