---
---

<!-- title with hyperlink -->
{% if entry.doi %}
<a href="https://doi.org/{{entry.doi}}">{{entry.title}}</a>
{% elsif entry.url %}
<a href="{{entry.url}}">{{entry.title}}</a>
{% else %}
{{entry.title}}
{% endif %}
<br/>
<!-- Display author list, or editor list if no author list -->
<!-- 
    Could do extra processing on {{ entry.author_array }} to control
    the display of author/editor information using the subkeys
    {{ first }} and {{ last }}
    There are also enumerated forms if you want to control the number
    of authors/editors shown. These are not in a sub-array but accessed
    directly with {{ entry.author_0_first}} and {{ entry.author_0_last}}
-->
{% if entry.author %}
    {{ entry.author }}
{% else %}
    {{ entry.editor  }}
{% endif %}

{% if entry.abstract %}
<p>{{ entry.abstract }}</p>
{% endif %}

<pre>{{ entry.bibtex }}</pre>