---
---

<!-- title with hyperlink -->
{% if entry.doi %}
    <a href="https://doi.org/{{entry.doi}}">{{entry.title}}</a>
{% elsif entry.url %}
    <a href="{{entry.url}}">{{entry.title}}</a>
{% else %}
    {{entry.title}}
{% endif %}
<br/>
<!-- Display author list, or editor list if no author list -->
<!-- 
    Could do extra processing on {{ entry.author_array }} to control
    the display of author/editor information using the subkeys
    {{ first }} and {{ last }}
    There are also enumerated forms if you want to control the number
    of authors/editors shown. These are not in a sub-array but accessed
    directly with {{ entry.author_0_first}} and {{ entry.author_0_last}}
-->
{% if entry.author %}
    {{ entry.author }}
{% else %}
    {{ entry.editor  }}
{% endif %}
<br/>
<!--
    Display venue information based on entry type.
    Note that you cannot prettify the code below since any 
    spaces/newlines get manifested as spaces in the HTML
-->
{% case entry.type  %} 
    {% when "article" %}
        {{ entry.journal }}{% if entry.volume %}, {{ entry.volume }}{% endif %}{% if entry.number %}({{ entry.number }}){% endif %}{% if entry.pages %}:{{ entry.pages }}{% endif %}{% if entry.publisher %}, {{ entry.publisher }}{% endif %}{% if entry.year %}, {{ entry.year }}{% endif %}
    {% when "inproceedings" %}
        In <em>{{ entry.booktitle }}</em>{% if entry.address %}, {{ entry.address }}{% endif %}{% if entry.series %}, {{ entry.series }}{% endif %}{% if entry.volume %}, {{ entry.volume }}{% endif %}{% if entry.pages %}, pages {{ entry.pages }}{% endif %}{% if entry.publisher %}, {{ entry.publisher }}{% endif %}{% if entry.year %}, {{ entry.year }}{% endif %}
    {% when "phdthesis" %}
        PhD Thesis, {{ entry.school }}, {{ entry.address }}, {{ entry.year }}
    {% when "proceedings" %}
        <!--
            Can use multiple lines due to assumptions on fields present
        -->
        {% if entry.series %}{{ entry.series }},{% endif %}
        {% if entry.volume %}{{ entry.volume }},{% endif %}
        {% if entry.publisher %}{{ entry.publisher }},{% endif %}
        {{ entry.year }}
        {% if entry.isbn %}<br/>ISBN: {{ entry.isbn }}{% endif %}
    {% else %}
        {% if entry.type == "techreport" %}Technical Report{% else %}{{ entry.type }}{% endif %}{% if entry.number %}, {{ entry.number }}. {% else %}. {% endif %}{% if entry.institution %} {{ entry.institution }}. {% endif %}{% if entry.publisher %}{{ entry.publisher }}. {% endif %}{%if entry.month %}{{ entry.month }}, {% endif %}{%if entry.year %}{{ entry.year }}{% endif %}
{% endcase %}
<br/>
{% if entry.note %}
    {{ entry.note }}
    <br/>
{% endif %}
<br/>
<!-- Display abstract on button click -->
{% if entry.abstract %}
    {% assign cleanKey = {{entry.key | remove: ":" | remove: "/" | remove: "_"}} %}
    <button onclick="toggle({{ cleanKey }})">Abstract</button>
    <p style="display: none" id="{{ cleanKey }}">{{ entry.abstract }}</p>
{% endif %}

<pre>{{ entry.bibtex }}</pre>

<script src="/js/scripts.js"></script>