<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/fontawesome-5.15.4/css/all.min.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        {% include navbar.html active=page.title %}
        <header class="inner">
          <h1 id="project_title"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div class="row">
          <div class="leftcolumn">          
            {{ content }}
          </div>
          <div class="rightcolumn">
            <h4>About Me</h4>
            <a href="/about" title="About me"><img class="icon" src="/assets/img/gray-135x135.jpg" alt="Headshot"></a>
            <p>I'm an Associate Professor in Computer Science at Heriot-Watt University. My research focuses on linking datasets.
            <em><a href="/about" title="About me">Read more</a></em></p>
            <div class="social-icons">
              <a href="https://github.com/AlasdairGray" title="GitHub Alasdair Gray" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://orcid.org/0000-0002-5711-4872" title="ORCID Alasdair Gray" target="_blank"><i class="fab fa-orcid"></i></a>
              <a href="https://twitter.com/gray_alasdair" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <h4>Tweets</h4>
            <a class="twitter-timeline" data-width="300" data-height="350" data-theme="light" href="https://twitter.com/gray_alasdair?ref_src=twsrc%5Etfw">Tweets by gray_alasdair</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
  <!-- Site script -->
  <script src="/js/scripts.js"></script>
</html>
